* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/assets/fonts/FiraSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background: 'linear-gradient(to top right, #240046, #9d4edd)'
}